@model EMR.Models.Patient.Patient


@{
    ViewData["Title"] = "TREATMENT";
}

<h3>Treatment</h3>

<br /><br />



@using (Html.BeginForm("Prescriptions", "ENCOUNTER", null))

        {

@Html.HiddenFor(model => model.Name)
@Html.HiddenFor(model => model.Date)
@Html.HiddenFor(model => model.HistoryIllness)
@Html.HiddenFor(model => model.PastHistory)
@Html.HiddenFor(model => model.PhysicalExam)
@Html.HiddenFor(model => model.Tests)
@Html.HiddenFor(model => model.Diagnosis)

    @Html.HiddenFor(model => model.ChiefComplaints)

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Instructions</legend>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.Treatment, 20, 400, new { HtmlAttributes = new { } })
            @Html.ValidationMessageFor(model => model.Treatment)
        </div>

    </fieldset>
    <p>
        <input type="submit" value="SUBMIT" />
    </p>
        }
